<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177611421254-gssr2r4h9jiq9n1c0jlb43oebpi51to9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177611421254-gssr2r4h9jiq9n1c0jlb43oebpi51to9</string>
	<key>API_KEY</key>
	<string>AIzaSyCD8znZB_WQFeBRqFzlWB31divAuhW3g4A</string>
	<key>GCM_SENDER_ID</key>
	<string>177611421254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sakiyamaK.Template-iOSUIKit</string>
	<key>PROJECT_ID</key>
	<string>templateiosuikit</string>
	<key>STORAGE_BUCKET</key>
	<string>templateiosuikit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177611421254:ios:7148d8e1c45ba3b6c5bc47</string>
</dict>
</plist>